.add_btn{
  text-align: right;
}

.container{
  overflow: auto;
}

.leftView h3{
  font-size: 21px;
}

.leftView p{
  font-weight: 600;
}

.leftView span{
  font-weight: 400;
}
.rightView p{
  font-weight: 600;
}

.rightView span{
  font-weight: 400;
}